*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

#wrapper {
  padding: 2em;
}

#wrapper .title {
  text-align: center;
}

#wrapper .title h1 {
  font-size: 2.7em;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  letter-spacing: 0.05em;
}

#wrapper .description {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
}

#wrapper .description p {
  max-width: 35em;
  text-align: center;
}

#wrapper .description .pph {
  font-weight: bold;
}

#wrapper .container {
  padding: 5em 2em 2em 2em;
}

#wrapper .container .income-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper .container .income-input input {
  width: 15em;
  font-size: 2em;
  padding: 0.3em;
}

#wrapper .container .income-input input::before {
  content: ""; /* Membuat elemen pseudo */
  position: absolute; /* Mengatur posisi */
  top: -5px; /* Posisi atas */
  left: -5px; /* Posisi kiri */
  right: -5px; /* Posisi kanan */
  bottom: -5px; /* Posisi bawah */
  border-radius: 8px; /* Sudut membulat */
  background: linear-gradient(45deg, #ff6b6b, #f0e130); /* Warna gradien */
  z-index: 1; /* Menempatkan di belakang input */
  padding: 2px; /* Jarak dalam untuk efek border */
}

#wrapper .container .income h2 {
  text-align: center;
}
