*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(17, 24, 39);
}

body {
  min-height: 5000px;
}

header {
  background-color: rgba(17, 24, 39, 0.302);
  backdrop-filter: blur(5px);
  box-shadow: 0 1.2px 3px rgba(234, 234, 234, 0.3);
  width: 100%;
  padding: 1em 2em;
  position: fixed;
  z-index: 9999;
}

header .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-wrapper .nav-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header .nav-wrapper .nav-logo a img {
  width: 2.3em;
  margin-right: 0.3em;
}

header .nav-wrapper .nav-logo a h2 {
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 850;
}

header .nav-wrapper .nav-link ul {
  display: flex;
  list-style: none;
  color: #fff;
  align-items: center;
}

header .nav-wrapper .nav-link ul li {
  margin-right: 3em;
}

header .nav-wrapper .nav-link ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  display: flex;
  align-items: center;
}

header .nav-wrapper .nav-link ul li:nth-child(1) a:hover,
header .nav-wrapper .nav-link ul li:nth-child(2) a:hover,
header .nav-wrapper .nav-link ul li:nth-child(3) a:hover,
header .nav-wrapper .nav-link ul li:nth-child(4) a:hover {
  color: #d2007b;
}

header .nav-wrapper .nav-link ul li:last-child {
  margin: 0;
}

header .nav-wrapper .nav-link ul li:last-child a {
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
  padding: 0.5em 1em;
  border-radius: 8px;
  transition: background-image 0.3s ease, transform 0.3s ease;
}

header .nav-wrapper .nav-link ul li:last-child a:hover {
  background-image: linear-gradient(315deg, #dfd000 0%, #d2007b 74%);
}

header .nav-wrapper .nav-link ul li:last-child a:hover svg {
  transform: translateX(6px);
}

header .nav-wrapper .nav-link ul li:last-child a svg {
  background-color: transparent;
  transition: transform 0.3s ease;
}

#wrapper {
  padding-top: 8em;
}

#wrapper .title {
  text-align: center;
}

#wrapper .title h1 {
  font-size: 2.7em;
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  letter-spacing: 0.05em;
}

#wrapper .description {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
}

#wrapper .description p {
  max-width: 35em;
  text-align: center;
  color: #fff;
}

#wrapper .description .pph {
  font-weight: bold;
}

#wrapper .container {
  padding: 5em 2em 2em 2em;
}

#wrapper .container .income h2 {
  color: #fff;
}

#wrapper .container .income-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper .container .income-input input {
  width: 15em;
  font-size: 2.3em;
  padding: 0.3em;
  background: #1a253c;
  border: 3.5px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient(#1a253c, #1a253c),
    linear-gradient(315deg, #fff000 0%, #ed008c 74%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  backdrop-filter: blur(5px);
  font-weight: 700;
}

#wrapper .container .income-input input:focus {
  outline: none;
  color: #fff;
  font-weight: 700;
}

#wrapper .container .income-input input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#wrapper .container .income h2 {
  text-align: center;
}
